.controlpanel {
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  right: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #3c3f41;
  color: #aaa;
}

.controlpanel-header {
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.controlpanel-minium {
  border-bottom: none;
}

.controlpanel-full {
  min-width: 240px;
}

.controlpanel-icon {
  width: 1rem;
}

.slider-wrapper {
  width: 140px;
  display: flex;
}

.selection {
  height: 1.6rem;
  width: 4rem;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  color: #ddd;
  outline: none;
}

.option {
  background: #3c3f41;
}

.item-wrapper {
  display: flex;
  padding: 1px;
  height: 1.4rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.item {
  width: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  color: #aaa;
  font-size: 0.8rem;
}

.item-selected {
  background: #ded9d9;
  color: #222;
}
